.site-title > a {
  text-decoration: none !important;
  font-size: 1.5rem;
}

a {
  color: blue;
}

nav {
  margin-bottom: 2rem;
}

nav > a {
  text-decoration: none !important;
}

time {
  font-style: italic;
}

div.post-toc-title {
  font-weight: bold;
  font-size: larger;
  margin-top: 1rem;
}

header {
  margin-bottom: 2rem;
}

div.archive-list > div {
  border-bottom: 1px dashed blueviolet;
  margin-top: 1px;
}

.pagination {
  margin-top: 1rem;
}