.site-title > a {
  text-decoration: none !important;
  font-size: 1.5rem;
}

a {
  color: blue;
}

nav {
  margin-bottom: 2rem;
}

nav > a {
  text-decoration: none !important;
}

time {
  font-style: italic;
}

div.post-toc-title {
  font-weight: bold;
  font-size: larger;
  margin-top: 1rem;
}

header {
  margin-bottom: 2rem;
}

div.archive-list > div {
  border-bottom: 1px dashed lightgrey;
  margin-top: .3rem;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pagination > a {
  padding-left: 5px;
  padding-right: 5px;
}

div.micro > p {
  display: inline;
}